* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  background-size: cover;
  background: linear-gradient(to bottom, rgb(16, 0, 58), rgb(55, 55, 55));
  text-align: center;
}
.calculator {
  border: 1px solid rgb(0, 0, 0);
  height: 850px;
  width: 500px;
  border-radius: 10px;
  margin: 70px 150px;
  background-color: rgb(44, 44, 44);
}
#display {
  border-radius: 5px;
  border: 1px solid rgb(0, 0, 0);
  height: 100px;
  margin: 15px;
  width: 94%;
  font-size: 3rem;
  margin-top: 25px;
  text-align: right;
}
.buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.button {
  border: 1px solid black;
  height: 100px;
  width: 125px;
  font-size: 2.3rem;
  font-weight: 700;
  border-radius: 10px;
  margin-top: 10px;
  margin-left: 15px;
}
.button:active {
  background-color: grey;
}
.op {
  color: rgb(149, 0, 0);
}
.calculator {
  position: relative;
  left: 500px;
}
